<% pagination ||= nil %>
<turbo-frame id="facet_content_<%= facet[:key] %>" data-loaded="true">
  <% colors = facet[:colors] || {} %>
  <% if facet[:type] == :tree %>
    <div class="p-2"
         id="facet_nodes_<%= facet[:key] %>_root"
         data-controller="facet-tree facet-pagination"
         data-facet-tree-category-value="<%= facet[:key] %>"
         data-facet-pagination-auto-load-value="true">
      <%= render "facets/tree_nodes",
                 category: facet[:key].to_s,
                 parent_id: nil,
                 nodes: facet[:data],
                 level: 0,
                 colors: colors %>

      <turbo-frame id="<%= facet_pagination_frame_id(facet[:key]) %>">
        <% if pagination&.dig(:has_more) %>
          <%= link_to_next_facet_page(facet[:key], pagination, colors: colors) %>
        <% end %>
      </turbo-frame>
    </div>
  <% else %>
    <div class="p-2" data-facet-panel-target="flatItems">
      <% facet[:data].each do |node| %>
        <% id = node[:id] %>
        <% name = node[:name] %>
        <% count = node[:count] %>
        <% checkbox_id = "#{facet[:key]}_#{id.to_s.parameterize}" %>
        <% is_selected = Array(params[facet[:key]]).include?(id.to_s) %>

        <label class="flex items-center py-1 px-1 rounded hover:bg-gray-50 cursor-pointer group transition-colors"
               data-facet-panel-target="flatItem"
               data-value="<%= name %>"
               for="<%= checkbox_id %>">
          <span class="w-4 h-4 mr-1.5 inline-block"></span>

          <input type="checkbox"
                 id="<%= checkbox_id %>"
                 name="<%= facet[:key] %>[]"
                 value="<%= id %>"
                 form="search_form"
                 class="mr-2 h-4 w-4 <%= colors[:checkbox] %> border-gray-300 rounded focus:ring-2 <%= colors[:focus_ring] %> focus:ring-offset-0"
                 data-action="change->facet-panel#handleSelection"
                 <%= 'checked' if is_selected %>>

          <span class="flex-1 truncate text-sm text-gray-700 cursor-pointer select-none group-hover:text-gray-900 pr-2"
                title="<%= name %>">
            <%= name %>
          </span>

          <span class="ml-auto px-1.5 py-0.5 text-xs font-medium bg-gray-100 text-gray-600 rounded group-hover:bg-gray-200 whitespace-nowrap">
            <%= number_with_delimiter(count) %>
          </span>
        </label>
      <% end %>
    </div>
  <% end %>
</turbo-frame>
